---
title: Проживание
---
extends layouts/_layout
block content
  .catalog-rooms
    .catalog-rooms__intro
      .container
        h1 Проживание
        p Номерной фонд санатория рассчитан на 180 мест. Гостиничный корпус соединен теплым переходом с лечебным корпусом.
        a(href="#")
          i.icon.icon-down-arrow
    .catalog-rooms__content
      .catalog-rooms__block
        .container
          .row
            .col-sm-5.col-xs-12
              .swiper-container.swiper-rooms
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                .swiper-pagination.swiper-pagination-rooms
            .col-sm-7.col-xs-12
              .catalog-rooms__block__content
                h4 Двухместный номер
                .catalog-rooms__block__info
                  p Комната, в которой есть: 2 кровати, 2 тумбочки, журнальный столик, 2 стула, шкаф для одежды, телевизор, комплект махровых полотенец.
                  p Блок-секция на 4 человека, по 2 человека в комнате.
                b Цена от:
                  span 1900
                  i.icon.icon-rub
                .catalog-rooms__block__btn
                  a(href="#") подробнее
                  a(href="#") бронировать
      .catalog-rooms__block
        .container
          .row
            .col-sm-5.col-xs-12
              .swiper-container.swiper-rooms
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                .swiper-pagination.swiper-pagination-rooms
            .col-sm-7.col-xs-12
              .catalog-rooms__block__content
                h4 Одноместный номер
                .catalog-rooms__block__info
                  p Уютный номер, где Вы можете в одиночестве ощутить комфорт и расслабиться после процедур. В комнате есть: кровать односпальная, тумбочка, столик журнальный, шкаф для одежды, 2 кресла, кондиционер, телевизор, чайник, набор посуды, набор махровых полотенец. Блок-секция на 2 человека, по 1 человеку в комнате.
                b Цена от:
                  span 1900
                  i.icon.icon-rub
                .catalog-rooms__block__btn
                  a(href="#") подробнее
                  a(href="#") бронировать
      .catalog-rooms__block
        .container
          .row
            .col-sm-5.col-xs-12
              .swiper-container.swiper-rooms
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                .swiper-pagination.swiper-pagination-rooms
            .col-sm-7.col-xs-12
              .catalog-rooms__block__content
                h4 Семейный номер № 1
                .catalog-rooms__block__info
                  p Комфортный номер, в котором есть: кровать двуспальная, 2 тумбочки, 2 кресла или диван, журнальный столик, шкаф для одежды, телевизор, холодильник, туалетный столик, телефон, кондиционер, сифон с минеральной водой, чайник, набор посуды, набор махровых полотенец, халат, фен, сушилка для белья, гладильная доска, утюг, набор для чистки обуви, ванная комната.
                b Цена от:
                  span 1900
                  i.icon.icon-rub
                .catalog-rooms__block__btn
                  a(href="#") подробнее
                  a(href="#") бронировать
      .catalog-rooms__block
        .container
          .row
            .col-sm-5.col-xs-12
              .swiper-container.swiper-rooms
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                  .swiper-slide
                    img(src="img/rooms.png", alt="")
                .swiper-pagination.swiper-pagination-rooms
            .col-sm-7.col-xs-12
              .catalog-rooms__block__content
                h4 Семейный номер № 2
                .catalog-rooms__block__info
                  p Комфортабельный номер из 2-х комнат. Есть: кровать двуспальная, 2 тумбочки, диван, журнальный столик, шкаф для одежды, телевизор, холодильник, туалетный столик, телефон, кондиционер, сифон с минеральной водой, чайник, набор посуды, набор махровых полотенец, халат, фен, сушилка для белья, гладильная доска, утюг, набор для чистки обуви, ванная комната. 
                b Цена от:
                  span 1900
                  i.icon.icon-rub
                .catalog-rooms__block__btn
                  a(href="#") подробнее
                  a(href="#") бронировать
      .container
        h3 Номера в формате блок-секции:<br> общий на 2 комнаты холодильник, санузел и ванная комната.
      .catalog-rooms__conditions
        .container
          h4 В каждом номере:
          .row
            .col-md-3.col-sm-6.col-xs-12
              .catalog-rooms__conditions__block
                img(src="img/rooms/rooms__conditions-1.png", alt="")
                p Круглосуточный сервис
            .col-md-3.col-sm-6.col-xs-12
              .catalog-rooms__conditions__block
                img(src="img/rooms/rooms__conditions-2.png", alt="")
                p Бесплатный интернет Wi-Fi
            .col-md-3.col-sm-6.col-xs-12
              .catalog-rooms__conditions__block
                img(src="img/rooms/rooms__conditions-3.png", alt="")
                p Предоставление доп. подушки, одеяла
            .col-md-3.col-sm-6.col-xs-12
              .catalog-rooms__conditions__block
                img(src="img/rooms/rooms__conditions-4.png", alt="")
                p Предоставление информационных материалов в номере
          h4 Дополнительные платные услуги:
          .row.center-xs
            .col-md-3.col-sm-4.col-xs-12.start-xs
              .catalog-rooms__conditions__more
                img(src="img/rooms/rooms__conditions-5.png", alt="")
                p Подача питания в номер
            .col-md-3.col-sm-4.col-xs-12.start-xs
              .catalog-rooms__conditions__more
                img(src="img/rooms/rooms__conditions-6.png", alt="")
                p Услуги прачечной
            .col-md-3.col-sm-4.col-xs-12.start-xs
              .catalog-rooms__conditions__more
                img(src="img/rooms/rooms__conditions-7.png", alt="")
                p Сейфы с инд. ячейками (на ресепшн)

