---
title: Контакты
---
extends layouts/_layout
block content
  .contacts
    .contacts__intro
      .container
        h1 Контакты
        a(href="#")
          i.icon.icon-down-arrow
    .contacts__content
      .container
        .row
          .col-md-4.col-sm-6.col-xs-12
            .contacts__block
              h4 Отдел маркетинга (продаж):
              ul
                li
                  i.icon.icon-mail
                  a(href="mailto:san-ob@bk.ru") san-ob@bk.ru
                li
                  i.icon.icon-phone
                  a(href="tel:88002504590") 8-800-250-4590
                  | <br>(звонок по России <br>бесплатный)
                li
                  i.icon.icon-phone
                  a(href="tel:3852268168") (3852) 26-81-68
                li
                  i.icon.icon-phone
                  a(href="tel:3852684578") (3852) 68-45-78
            .contacts__block.contacts__block-secondary
              h4 отдел кадров:
              ul
                li
                  i.icon.icon-mail
                  a(href="mailto:ok.sanob@mail.ru") ok.sanob@mail.ru
                li
                  i.icon.icon-phone
                  a(href="tel:3852268751") (3852) 26-87-51
          .col-md-4.col-sm-6.col-xs-12
            .contacts__block
              h4 Заместитель директора по медицинской части:
              ul
                li
                  i.icon.icon-phone
                  a(href="tel:3852685043") (3852) 68-50-43
            .contacts__block
              h4 служба размещения:
              ul
                li
                  i.icon.icon-phone
                  a(href="tel:3852684741") (3852) 68-47-41
            .contacts__block
              h4 Бухгалтерия:
              ul
                li
                  i.icon.icon-phone
                  a(href="tel:3852268176") (3852) 26-81-76
            .contacts__block
              h4 Бассейн:
              ul
                li
                  i.icon.icon-phone
                  a(href="tel:3852268752") (3852) 26-87-52
          .col-md-4.col-sm-6.col-xs-12
            .contacts__block
              h4 приёмная:
              ul
                li
                  i.icon.icon-mail
                  a(href="mailto:sanobreg@mail.ru") sanobreg@mail.ru
                li
                  i.icon.icon-phone
                  a(href="tel:3852268340") (3852) 26-83-40
            .contacts__block
              h4 SPA-Центр (администратор):
              ul
                li
                  i.icon.icon-phone
                  a(href="tel:3852268753") (3852) 26-87-53
            .contacts__doc
              a(href="#")
                i.icon.icon-paper
                p Наши реквизиты
                  span (.doc 25 kb)
    .contacts__way
      .container
        h2 Как до нас добраться
        .tabs
          ul.tabs__caption
            li.active Ж/Д вокзал  и автовокзал г.Барнаул
            li Аэропорт г. Барнаул
            li Аэропорт г. Новосибирск
          .tabs__content-block
            .tabs__content.active
              .contacts__way__block
                h4 Маршруты автобусов в г. Барнауле от ж/д и автовокзала до Санатория "Обь":
                ul
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус 
                      p № 55, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус
                      p № 108, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="") 
                    span 
                      b.bus Автобус
                      p № 2, ост. "Гостиница Барнаул" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/tram.png", alt="") 
                    span
                      b.bus Трамвай
                      p № 7, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/taxi.png", alt="").taxi
                    span 
                      b.bus Такси: 
                      p 
                        b Яндекс такси 
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 299-99-00
                        b Город Плюс
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 233-30-00
              .contacts__way__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5080.039136006351!2d30.4903354!3d50.4593603!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1531403491741" frameborder="0" style="border:0" allowfullscreen)
            .tabs__content
              .contacts__way__block
                h4 Маршруты автобусов в г. Барнауле от ж/д и автовокзала до Санатория "Обь":121
                ul
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус 
                      p № 55, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус
                      p № 108, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="") 
                    span 
                      b.bus Автобус
                      p № 2, ост. "Гостиница Барнаул" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/tram.png", alt="") 
                    span
                      b.bus Трамвай
                      p № 7, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/taxi.png", alt="").taxi
                    span 
                      b.bus Такси: 
                      p 
                        b Яндекс такси 
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 299-99-00
                        b Город Плюс
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 233-30-00
              .contacts__way__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5080.039136006351!2d30.4903354!3d50.4593603!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1531403491741" frameborder="0" style="border:0" allowfullscreen)
            .tabs__content
              .contacts__way__block
                h4 Маршруты автобусов в г. Барнауле от ж/д и автовокзала до Санатория "Обь":122
                ul
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус 
                      p № 55, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="")
                    span 
                      b.bus Автобус
                      p № 108, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/bus.png", alt="") 
                    span 
                      b.bus Автобус
                      p № 2, ост. "Гостиница Барнаул" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/tram.png", alt="") 
                    span
                      b.bus Трамвай
                      p № 7, ост. "пл. Победы" - ост. "Санаторий Обь" (Медицинский центр "Надежда")
                  li
                    img(src="img/taxi.png", alt="").taxi
                    span 
                      b.bus Такси: 
                      p 
                        b Яндекс такси 
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 299-99-00
                        b Город Плюс
                          i.icon.icon-phone
                          a(href="tel:+73852999900") +7 (385) 233-30-00
              .contacts__way__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5080.039136006351!2d30.4903354!3d50.4593603!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1531403491741" frameborder="0" style="border:0" allowfullscreen)
  include ./partials/_pop-up