---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/home-shares
  include ./home/home-voucher
  //- include ./home/home-
  //- include ./home/home-
  //- include ./home/home-
  //- include ./home/home-