---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/home-shares
  include ./home/home-voucher
  include ./home/home-profile
  include ./home/home-features
    //- include ./home/
  include ./home/home-video