---
title: Семейный номер № 1
---
extends layouts/_layout
block content
  .room
    +breadcrumb(['Главная', 'Номера', 'Семейный номер № 1'])
    .container
      h1 Семейный номер № 1
      .row
        .col-md-7.col-sm-6.col-xs-12
          .swiper-container.swiper-rooms-card
            .swiper-wrapper
              .swiper-slide
                img(src="img/rooms.png", alt="")
              .swiper-slide
                img(src="img/rooms.png", alt="")
              .swiper-slide
                img(src="img/rooms.png", alt="")
            .swiper-pagination.swiper-pagination-rooms-card
            .swiper-button-next.swiper-rooms-card-next
              i.icon.icon-right-arrow
            .swiper-button-prev.swiper-rooms-card-prev
              i.icon.icon-left-arrow
        .col-md-5.col-sm-6.col-xs-12
          .room__text
            p Комфортабельный номер, в котором есть: кровать двуспальная, 2 тумбочки, 2 кресла или диван, журнальный столик, шкаф для одежды, телевизор, холодильник, туалетный столик, телефон, кондиционер, сифон с минеральной водой, чайник, набор посуды, набор махровых полотенец, халат, фен, сушилка для белья, гладильная доска, утюг, набор для чистки обуви, ванная комната.
            p Номера в формате блок-секции: <br>общий на 2 комнаты холодильник, санузел и ванная комната.
            b Цена от:
              span 1900
              i.icon.icon-rub
            a(href="#").btn.btn-primary забронировать
      .room__conditions
        .row
          .col-xs-12
            h3 В каждом номере:
          .col-md-7.col-sm-6.col-xs-12
            ul
              li
                img(src="img/rooms/room-1.png", alt="")
                | Круглосуточный сервис
              li
                img(src="img/rooms/room-2.png", alt="")
                | Бесплатный интернет Wi-Fi
              li
                img(src="img/rooms/room-3.png", alt="")
                | Предоставление доп. подушки, одеяла
              li
                img(src="img/rooms/room-4.png", alt="")
                | Предоставление информационных материалов в номере 
          .col-md-5.col-sm-6.col-xs-12
            ul
              li
                h4 Дополнительные платные услуги:
              li
                img(src="img/rooms/room-5.png", alt="")
                | Сейфы с инд. ячейками (на ресепшн)
              li
                img(src="img/rooms/room-6.png", alt="")
                | Услуги прачечной
              li
                img(src="img/rooms/room-7.png", alt="")
                | Подача питания в номер
      .room__value
        h3 Стоимость
        .row.middle-xs
          .col-md-7.col-xs-12
            .table
              table.table
                tr
                  th(colspan="2") Тип размещения
                  th
                tr
                  td(rowspan="3") Взрослый
                  td.left С лечением
                  td от 2300
                    i.icon.icon-rub
                tr
                  td.left Оздоровительное
                  td от 2300
                    i.icon.icon-rub
                tr
                  td.left Без лечения
                  td от 2300
                    i.icon.icon-rub
                tr
                  td(rowspan="3")Ребёнок от 4 до 14 лет
                  td.left С лечением
                  td от 2300
                    i.icon.icon-rub
                tr
                  td.left Оздоровительное
                  td от 2300
                    i.icon.icon-rub
                tr
                  td.left Без лечения
                  td от 2300
                    i.icon.icon-rub
          .col-md-5.col-xs-12
            p 
              span В стоимость лечебной путевки входит:
              | проживание, 4-х разовое питание, лечение (комплекс медицинских услуг, определяется врачом санатория индивидуально каждому отдыхающему с учетом его основного и сопутствующего заболевания)
            p 
              span В стоимость оздоровительной путевки входит:
              | проживание, 4-х разовое питание, посещение бассейна (после осмотра дерматолога-миколога в санатории), прием минеральной воды перед едой, кислородный коктейль.
            p 
              span Дополнительная информация по телефону – 8-800-250-45-90 (звонок бесплатный)
  include ./partials/_pop-up