footer.footer
  .container
    .row.middle-xs.center-xs
      .col-md-3.col-xs-12.start-xs
        .footer__logo
          img(src="img/home/logo.png", alt="")
        .footer__social
          ul
            li
              a(href="#") 
                i.icon.icon-vk
            li
              a(href="#") 
                i.icon.icon-fb
            li
              a(href="#") 
                i.icon.icon-odnoklassniki
            li
              a(href="#") 
                i.icon.icon-insta
      .col-md-2.col-sm-4.col-xs-12.start-md
        .footer__nav
          ul
            li
              a(href="#") о нас
            li
              a(href="#") лечение
            li
              a(href="#") питание
            li
              a(href="#") путевки
      .col-md-2.col-sm-4.col-xs-12.start-md
        .footer__nav
          ul
            li
              a(href="#") номера
            li
              a(href="#") цены
            li
              a(href="#") отзывы
            li
              a(href="#") контакты
      .col-md-4.col-md-offset-1.col-xs-12.start-md
        .footer__info-user
          ul
            li
              a(href="#") Обращение граждан
            li
              a(href="#") Полезная информация
            li
              a(href="#") Независимая оценка качества оказания услуг
            li
              a(href="#") Политика конфиденциальности
  .footer__created
    .container
      .row
        .col-xs-12.center-xs
          p © 1987 - 2018 Санаторий Обь. Официальный сайт. Все права защищены
          p Разработка сайта 
            a(href="#") ЦИТ Портал