//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-sm-5.hidden-xs
        p Уютный санаторий в сосновом бору Барнаул, Алтайский край
        nav.hidden-sm.hidden-xs
          ul
            li
              a(href="#") о нас
            li
              a(href="treatment.html") лечение
            li
              a(href="#") питание
            li
              a(href="#") путевки
      .col-sm-2.col-xs-12
        a(href="index.html").header__logo
          img(src="img/home/logo.png", alt="")
      .col-sm-5.hidden-xs
        .header__call
          a(href="tel:88002504590")
            i.icon.icon-phone
            | 8 800 250 45 90
            p Звонок бесплатный
        nav.hidden-sm.hidden-xs
          ul
            li
              a(href="catalog-rooms.html") номера
            li
              a(href="#") цены
            li
              a(href="#") отзывы
            li
              a(href="contacts.html") контакты
//END header
