//BEGIN header
header.header
  .container
    .row
      .col-md-5
        p Уютный санаторий в сосновом бору Барнаул, Алтайский край
        nav
          ul
            li
              a(href="#") о нас
            li
              a(href="#") лечение
            li
              a(href="#") питание
            li
              a(href="#") путевки
      .col-md-2
        .header__logo
          img(src="img/home/logo.png", alt="")
      .col-md-5
        .header__call
          a(href="tel:88002504590")
            i.icon.icon-phone
            | 8 800 250 45 90
            p Звонок бесплатный
        nav
          ul
            li
              a(href="#") номера
            li
              a(href="#") цены
            li
              a(href="#") отзывы
            li
              a(href="#") контакты
//END header
