.pop-up-bg
.menu
  .menu-close
    span
  ul
    li
      a(href="#") о нас
    li
      a(href="treatment.html") лечение
    li
      a(href="#") питание
    li
      a(href="#") путевки
    li
      a(href="catalog-rooms.html") номера
    li
      a(href="#") цены
    li
      a(href="#") отзывы
    li
      a(href="contacts.html") контакты
    li
      a(href="tel:88002504590")
        i.icon.icon-phone
        | 8 800 250 45 90