.treatment
  &__intro
    padding-top: 240px
    background: url('../img/treatment-bg.png') no-repeat
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    h1
      font-size: 48px
      line-height: 1.15
      letter-spacing: 0.5px
      text-align: center
      color: $white
      margin-bottom: 45px
      +r(767)
        font-size: 32px
    a
      +center
      padding-bottom: 8px
      padding-right: 4px
      i
        font-size: 36px
        color: $white
  &__content
    padding: 50px 0
    .row
      margin-bottom: 30px
      +r(1024)
        margin-bottom: 0
    h3
      font-size: 24px
      line-height: 1.25
      letter-spacing: 0.2px
      text-align: center
      color: $black
      max-width: 967px
      +center-relative-x
      position: relative
      margin-bottom: 45px
      +r(767)
        font-size: 18px
    h2
      font-size: 30px
      line-height: 1.2
      letter-spacing: 0.3px
      text-align: center
      color: $black
      max-width: 775px
      +center-relative-x
      position: relative
      margin-bottom: 40px
      +r(767)
        font-size: 24px
  &__block
    background-color: $beige
    padding: 35px 45px 70px
    +center-column
    width: calc(100% - 10px)
    margin-bottom: 30px
    height: 100%
    position: relative
    justify-content: flex-start
    +r(1024)
      width: 100%
      height: auto
    +r(767)
      padding: 15px 15px 70px
    .btn
      position: absolute
      bottom: 35px
      left: 50%
      transform: translate(-50%)
      +r(1024)
        bottom: 20px
    img
      margin-bottom: 15px
      height: 75px
    h4
      font-size: 24px
      font-weight: 300
      line-height: 1
      letter-spacing: 0.2px
      text-align: center
      color: $black
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5)
      margin-bottom: 10px
      min-height: 60px
      +r(1140)
        min-height: 75px
      +r(767)
        font-size: 18px
    p
      font-size: 18px
      line-height: 1.33
      letter-spacing: -0.2px
      text-align: center
      color: $black
      margin-bottom: 10px
      min-height: 165px
      +r(1140)
        min-height: 75px
      +r(767)
        font-size: 14px
