@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-down-arrow: "\EA01";
$icon-fb: "\EA02";
$icon-insta: "\EA03";
$icon-left-arrow: "\EA04";
$icon-mail: "\EA05";
$icon-odnoklassniki: "\EA06";
$icon-paper: "\EA07";
$icon-phone: "\EA08";
$icon-right-arrow: "\EA09";
$icon-rub: "\EA0A";
$icon-vk: "\EA0B";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-down-arrow:before { content: $icon-down-arrow; }
.icon-fb:before { content: $icon-fb; }
.icon-insta:before { content: $icon-insta; }
.icon-left-arrow:before { content: $icon-left-arrow; }
.icon-mail:before { content: $icon-mail; }
.icon-odnoklassniki:before { content: $icon-odnoklassniki; }
.icon-paper:before { content: $icon-paper; }
.icon-phone:before { content: $icon-phone; }
.icon-right-arrow:before { content: $icon-right-arrow; }
.icon-rub:before { content: $icon-rub; }
.icon-vk:before { content: $icon-vk; }
