.icon-down-arrow {
  width: 1em;
  height: 1em;
  fill: #090509;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-odnoklassniki {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
