section.home-armor
  .container
    .row.center-xs
      .col-xs-10.start-xs
        h2 Приезжайте, полечитесь, подышите свежим лесным воздухом, отдохните от городской суеты
        h4 Чтобы узнать о наличии мест, в нужный вам период, заполните поля ниже и нажмите кнопку
        form(action="").form
          input(type="text" placeholder="Ваше имя")
          input(type="tel" placeholder="Ваш телефон")
          .form__input
            input(type="submit" value="Узнать о наличие мест")
            p Нажимая кнопку “Узнать о наличие мест”, я соглашаюсь с политикой в отношении обработки персональных данных