section.home-video
  .container
    .row
      .col-xs-5
        h4 Лечебный санаторий в Барнауле, Алтайский край
        p Вы находитесь в поиске санатория, где бы Вы могли хорошо отдохнуть и полечиться? Ищете достойное место для отдыха своих родных и близких? Вы попали прямо по адресу!
        p Приобретая путевку в наш санаторий, Вы получите все необходимые процедуры для укрепления Вашего здоровья.
        p Хочется отметить, что у нашего санатория есть ряд уникальных особенностей, которые выделяют нас в целом ряде других здравниц.
      .col-xs-7
        .home-video__block
          iframe(src="https://www.youtube.com/embed/XX37dbJUh3k?ecver=2" style="position:absolute;width:100%;height:100%;left:0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)