section.home-shares
  .container
    .row
      .col-xs-12
        .heading.heading-primary
          h2 Акции
      .col-xs-4
        .home-shares__block
          h3 раннее бронирование
          .home-shares__block__img
            img(src="img/home/shares-1.png", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="#").btn.btn-secondary Подробнее
      .col-xs-4
        .home-shares__block
          h3 Праздники с пользой
          .home-shares__block__img
            img(src="img/home/shares-2.png", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="#").btn.btn-secondary Подробнее
      .col-xs-4
        .home-shares__block
          h3 для пенсионеров
          .home-shares__block__img
            img(src="img/home/shares-3.png", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="#").btn.btn-secondary Подробнее