section.home-features
  .container
    .row
      .col-xs-12
        .heading.heading-primary
          h2 Уникальные особенности нашего санатория
    .row
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__img
            img(src="img/home/home-features-1.png", alt="")
          .home-features__block__text
            p Красивый парк, вольер с пятнистыми оленями, свой конный клуб
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__img
            img(src="img/home/home-features-2.png", alt="")
          .home-features__block__text
            p Большой, современный, теплый и чистый плавательный бассейн
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__text
            p Знаменитая Завьяловская минеральная вода, равноценная воде из источника
          .home-features__block__img
            img(src="img/home/home-features-3.png", alt="")
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__text
            p Специально разработанная в НИИ кисло-молочная продукция
          .home-features__block__img
            img(src="img/home/home-features-4.png", alt="")
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__img
            img(src="img/home/home-features-5.png", alt="")
          .home-features__block__text
            p Доступность городских развлечений и достопримечатель-ностей
      .col-md-6.col-xs-12
        .home-features__block
          .home-features__block__img
            img(src="img/home/home-features-6.png", alt="")
          .home-features__block__text
            p Экологически чистые местные фермерские продукты Алтая
