section.home-profile
  .container
    .row
      .col-xs-12
        .heading.heading-secondary
          h2 Профили лечения
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-1.png", alt="")
          p Сердечно-сосудистые заболевания
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-2.png", alt="")
          p Заболевания опороно-двигательного аппарата
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-3.png", alt="")
          p Заболевания нервной системы
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-4.png", alt="")
          p Заболевания эндокринной системы и обмена веществ
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-5.png", alt="")
          p Заболевания органов пищеварения
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-6.png", alt="")
          p Заболевания системы органов дыхания
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-7.png", alt="")
          p Реабилитация больных после инсульта
      .col-md-3.col-sm-4.col-xs-6
        a(href="#").home-profile__block
          img(src="img/home/home-profile-8.png", alt="")
          p Реабилитация после операций на позвоночник