section.home-voucher
  .container
    .row
      .col-xs-12
        .heading.heading-primary
          h2 Путевки на отдых и лечение
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-1.png", alt="").img
            img(src="img/home/voucher/voucher__icon-1.png", alt="").icon
          p Лечебная путевка
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-2.png", alt="").img
            img(src="img/home/voucher/voucher__icon-2.png", alt="").icon
          p Оздоровительная путевка
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-3.png", alt="").img
            img(src="img/home/voucher/voucher__icon-3.png", alt="").icon
          p Путевка на отдых
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-4.png", alt="").img
            img(src="img/home/voucher/voucher__icon-4.png", alt="").icon
          p Мать и дитя
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-5.png", alt="").img
            img(src="img/home/voucher/voucher__icon-5.png", alt="").icon
          p Абонемент
      .col-xs-4
        a(href="#").home-voucher__block
          .home-voucher__block__img
            img(src="img/home/voucher/voucher__img-6.png", alt="").img
            img(src="img/home/voucher/voucher__icon-6.png", alt="").icon
          p Фито программа