section.intro
  .swiper-container.swiper-intro
    i.icon.icon-down-arrow
    .swiper-wrapper
      .swiper-slide(style="background-image: url('img/home/intro-bg.png')")
        .container
          .row
            .col-xs-12.col-md-9
              h2 Все лечение по стандартам минздрава входит в стоимость путевки
              a(href="#").btn.btn-primary Узнать стоимость
      .swiper-slide(style="background-image: url('img/home/intro-bg.png')")
        .container
          .row
            .col-xs-12.col-md-9
              h2 Все лечение по стандартам минздрава входит в стоимость путевки
              a(href="#").btn.btn-primary Узнать стоимость
    .swiper-button-next.swiper-intro-next
      i.icon.icon-right-arrow
    .swiper-button-prev.swiper-intro-prev
      i.icon.icon-left-arrow