.footer
  background-image: url('../img/footer-bg.png')
  background-repeat: no-repeat
  background-color: $brown-grey
  background-size: contain
  background-position: 100% 0
  padding-top: 35px
  &__logo
    img
      width: 125px
  &__social
    padding-top: 25px
    ul
      display: flex
    li
      padding-right: 20px
    a
      width: 40px
      height: 40px
      background: $beige
      border: 2px solid $brown-grey
      box-shadow: 0px 0px 0px 2px $beige
      +center
      border-radius: 100%
      +tr
      i
        color: $brownish-grey-two
      &:hover
        box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.29)
        border: 4px solid $beige
  &__nav
    li
      a
        font-size: 14px
        line-height: 2.14
        letter-spacing: 0.7px
        color: $white
        text-transform: uppercase
  &__info-user
    li a
      font-size: 14px
      font-weight: 200
      line-height: 2.57
      letter-spacing: 0.7px
      color: $white
      text-decoration: underline
  &__created
    padding: 20px 0 30px
    margin-top: 40px
    border-top: 1px solid $beige
    p
      font-size: 11px
      font-weight: 200
      line-height: 1.37
      text-align: center
      color: $white